VITE_GITHUB_URL=https://github.com/varun5812
VITE_LINKEDIN_URL=https://www.linkedin.com/
VITE_EMAIL=varunkumar5812@gmail.com
VITE_LEETCODE_URL=https://leetcode.com/
VITE_RESUME_URL=/Varun_Resume__.pdf
VITE_PROJECTS_URL=#projects
